:root{
--main-color: #C70101;
--color-white: #fff;
--size-text: 14px;
--size-btn: 16px;
--size-btn-h: 19px;
--size-titleBlocks: 30px;
--font-size-btn: 12px;
--font-size-b-d: 18px;
--font-size-c-sb: 20px;
--font-size-span-h: 18px;
--font-size-h: 12px;
--font-size-p-t: 42px;
--font-size-p-st: 24px;
--font-size-c-t: 36px;
}
    