.carousel{
    height: 742px;
    padding: 108px 0;
    position: relative;
    @include for-tablet{
        .slick-dots{
            display: flex;
            justify-content: space-around;
                button{
                    display: none;
                }
        }
    }
    &_inner{
        margin: 0 auto;
        width: 750px;
        @include for-modile{
            width: 370px;
            .slider_img{
                width: 100%;
            }
        }
    }   
        .slick-prev, .slick-next{
            background: none;
            border: none;
            position: absolute;
            bottom: 50%;
            transform: translateX(-50%);
            left: -70px;
            width: 30px;
            height: 50px;   
        }
        .slick-next{
            right: -70px;
            left: auto;
        }

}