.consultation{
    min-height: 680px;
    background: url(../img/contacts/bg2.png) center center/cover no-repeat;
    padding: 102px 0 108px 0;
    &_subtitle{
        font-weight: 500;
        font-size: var(--font-size-c-sb);
        color: var(--color-white);
        margin-top: 8px;
    }
}