.promo_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include for-tablet{
        margin: 0 20px;
    }
    @include for-mobile{
        .logo{
            margin: 0 auto;
        }
        .contact{
            display: none;
        }
        .official{
            display: block;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 550px;
        }      
    }
    .official{
        width: 215px;
        text-align: center;
        font:var(--font-logo);
        color: var(--color-white);
        span{
            display: block;
            margin-top: 7px;
            font-size: var(--font-size-benefits-subtitle-tabs);
        }
}
    .contact{
        a{
            color: var(--color-white);      
        }
        .head_btn{
            display: block;
            color: var(--color-white);
            background: var(--main-color);
            border-radius: 5px;
            width: 153px;
            height: 32px;
            font:var(--font-logo);
        }
        .phone{
            display: block;
            text-decoration: none;
            text-align: end;
            display: block;
        }
    }
}