.overlay{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, .56);
    top: 0px;
    .modal{
        border-radius: 5px;
        width: 380px;
        min-height: 400px;
        background: var(--color-white);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 10px 40px 0px 40px;
        @include for-mobile{
            width: 330px;
        }
        input{
            width: 260px;
        }
        &_subtitle{
            font:var(--font-size-subtext-tabs);
            margin-top: 10px;
            text-align: center;
            @include for-mobile{
                font:var(--font-size-buttons);
            }
        }
        &_descr{
            margin-top: 5px;
            text-align: center;
            font:var(--font-text-all);
            @include for-mobile{
                font:var(--font-size-logo-head);
            }
        }
        &_close{
            right: -20px;
            top: -35px;
            color: var(--main-color);
            position: absolute;
            font-size: var(--font-size-all-titles-block);
            cursor: pointer;
        }
        &_mini{
            min-height: 140px;
        }
        button{
            @include for-mobile{
                width: 260px;
            }
        }
    }
}
#consaltion, #order, #thanks {
    display: none;
}