.promo{
    background: url(../img/promo/bg.png) center center/cover no-repeat;
    min-height: 650px;
    padding: 21px 0 90px 0;
    @include for-modile{
        button{
            margin-top: 90px;
        }
    }
    &_wrapper {
        margin-top: 90px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        @include for-tablet{
            align-items: center;
        }
    }
    .subtitle{
        font:var(--title-font-subtitle);
        color: var(--color-white);
        margin-top: 17px;
    }
    &_icon{
        display: flex;
        margin-top: 64px;
        text-align: center;
        align-items: center;
        :last-child{
            margin-right: 0px;
        }
        @include for-modile{
            display: none;
        }
    }
    &_icons{
        margin-right: 40px;
    }
        &_descr{
            margin-top: 20px;
            color: var(--color-white);
            width: 136px;
            height: 29px;
            margin-bottom: 68px;
            font:var(--font-text-all);
        }
    a{
        margin-top: 10px;
        text-decoration: none;
        text-align: end;
        display: block;
        color:  var(--color-white);
    }
}