.promo{
    background: url(../img/promo/bg.png) center center/cover no-repeat;
    min-height: 650px;
    padding: 21px 0 90px 0;

    &_wrapper {
        margin-top: 90px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        @include for-tablet{
            align-items: center;
        }
        
    }
        .head_btn{
            font-size: var(--size-btn-h);
        }
    &_header{
        @include for-tablet;
            margin: 0 20px;
    }
    .title_promo{
        font-size: var(--font-size-p-t);
        color: var(--color-white);
    }
    &_subtitle{
        font-size: var(--font-size-p-st);
        color: var(--color-white);
        margin-top: 17px;
    }
    &_icon{
        display: flex;
        margin-top: 64px;
        text-align: center;
        align-items: center;
    }
    &_icons{
        margin-left: 40px;
    }
    &_descr{
        margin-top: 20px;
        color: var(--color-white);
        width: 136px;
        height: 29px;
        margin-bottom: 68px;
    }
    a{
        margin-top: 10px;
        text-decoration: none;
        text-align: end;
        display: block;
        color:  var(--color-white);
    }
}